@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="row">
        <h3 class="center-align">
            Client Contact Linker
        </h3>
    </div>
    <div class="row">
        <div class="col l8 offset-l2 m8 offset-m2 s12">
            <a asp-action="Index" asp-controller="Contact">
                <div class="card-panel blue darken-2 center center-align">
                    <span class="material-icons md-dark md-24">contacts</span>
                    <span class="card-title grey-text text-darken-4">Contacts</span>
                </div>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col l8 offset-l2 m8 offset-m2 s12">
            <a asp-action="Index" asp-controller="Client">
                <div class="card-panel blue darken-2 center center-align">
                    <span class="material-icons md-dark md-24">person</span>
                    <span class="card-title grey-text text-darken-4">Clients</span>
                </div>
            </a>
        </div>
    </div>   
</div>